## Assignments

Son Huynh
31.01.2020

Deadline: **11:59pm 26.02** (Wedsnesday)

Submit link: https://www.dropbox.com/request/ZvBWoQUCy8pwRVxQxwJx

In [125]:
import pandas as pd

In [126]:
cars = pd.read_csv('cars.csv')

In [127]:
cars

,Make,Model,Type,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,36945,3.5,6.0,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,2.0,4.0,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,2.4,4.0,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,33195,3.2,6.0,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,3.5,6.0,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,2.4,5.0,197,21,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,2.3,5.0,242,20,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,2.9,6.0,268,19,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,26135,1.9,4.0,170,22,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,35145,2.5,5.0,208,20,27,3823,109,186

Select columns 'Make', 'Model' and 'MSRP'

In [128]:
cars[["Make","Model","MSRP"]]

      Make                    Model   MSRP
0    Acura                      MDX  36945
1    Acura           RSX Type S 2dr  23820
2    Acura                  TSX 4dr  26990
3    Acura                   TL 4dr  33195
4    Acura               3.5 RL 4dr  43755
..     ...                      ...    ...
423  Volvo  C70 LPT convertible 2dr  40565
424  Volvo  C70 HPT convertible 2dr  42565
425  Volvo               S80 T6 4dr  45210
426  Volvo                      V40  26135
427  Volvo                     XC70  35145

[428 rows x 3 columns]

What is the price (MSRP) of the car at index position 100?

In [129]:
cars.MSRP.iloc[100]

30950

Select first 10 rows and last 3 columns. Try both iloc and loc methods

In [130]:
cars.iloc[0:10,-3:]

   Weight  Wheelbase  Length
0    4451        106     189
1    2778        101     172
2    3230        105     183
3    3575        108     186
4    3880        115     197
5    3893        115     197
6    3153        100     174
7    3252        104     179
8    3638        105     180
9    3462        104     179

In [131]:
cols=["Weight","Wheelbase","Length"]
cars.loc[0:9,cols]

   Weight  Wheelbase  Length
0    4451        106     189
1    2778        101     172
2    3230        105     183
3    3575        108     186
4    3880        115     197
5    3893        115     197
6    3153        100     174
7    3252        104     179
8    3638        105     180
9    3462        104     179

Show the number of European cars without using value_counts()?

In [132]:
cars[cars["Origin"]== "Europe"]

,Make,Model,Type,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
7,Audi,A4 1.8T 4dr,Sedan,Europe,Front,25940,1.8,4.0,170,22,31,3252,104,179
8,Audi,A41.8T convertible 2dr,Sedan,Europe,Front,35940,1.8,4.0,170,23,30,3638,105,180
9,Audi,A4 3.0 4dr,Sedan,Europe,Front,31840,3.0,6.0,220,20,28,3462,104,179
10,Audi,A4 3.0 Quattro 4dr manual,Sedan,Europe,All,33430,3.0,6.0,220,17,26,3583,104,179
11,Audi,A4 3.0 Quattro 4dr auto,Sedan,Europe,All,34480,3.0,6.0,220,18,25,3627,104,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,2.4,5.0,197,21,28,3450,105,186
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,2.3,5.0,242,20,26,3450,105,186
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,2.9,6.0,268,19,26,3653,110,190
426,Volvo,V40,Wagon,Europe,Front,26135,1.9,4.0,170,22,29,2822,101,180
427,Volvo,XC70,Wagon,Europe,All,35145,2.5,5.0,208,20,27,3823,109,186

Show all entries of model 'G35 4dr'

In [133]:
cars[cars["Model"]=="G35 4dr"]

,Make,Model,Type,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
179,Infiniti,G35 4dr,Sedan,Asia,Rear,28495,3.5,6.0,260,18,26,3336,112,187
181,Infiniti,G35 4dr,Sedan,Asia,All,32445,3.5,6.0,260,18,26,3677,112,187

Show all cars with MSRP higher than 100000

In [134]:
cars[cars["MSRP"]>100000]

,Make,Model,Type,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
262,Mercedes-Benz,CL600 2dr,Sedan,Europe,Rear,128420,5.5,12.0,493,13,19,4473,114,196
270,Mercedes-Benz,SL55 AMG 2dr,Sports,Europe,Rear,121770,5.5,8.0,493,14,21,4235,101,179
271,Mercedes-Benz,SL600 convertible 2dr,Sports,Europe,Rear,126670,5.5,12.0,493,13,19,4429,101,179
334,Porsche,911 GT2 2dr,Sports,Europe,Rear,192465,3.6,6.0,477,17,24,3131,93,175

What is the weight of the L300-2 4dr ?

In [135]:
cars[cars["Model"]=="L300-2 4dr"].Weight

350    3197
Name: Weight, dtype: int64

Create a new column called MPG_Avg, which is calculated as (MPG_City + MPG_Highway) / 2

In [136]:
cars["MPG_Avg"] = (cars.MPG_City + cars.MPG_Highway)/2
cars

,Make,Model,Type,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,MPG_Avg
0,Acura,MDX,SUV,Asia,All,36945,3.5,6.0,265,17,23,4451,106,189,20.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,2.0,4.0,200,24,31,2778,101,172,27.5
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,2.4,4.0,200,22,29,3230,105,183,25.5
3,Acura,TL 4dr,Sedan,Asia,Front,33195,3.2,6.0,270,20,28,3575,108,186,24.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,3.5,6.0,225,18,24,3880,115,197,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,2.4,5.0,197,21,28,3450,105,186,24.5
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,2.3,5.0,242,20,26,3450,105,186,23.0
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,2.9,6.0,268,19,26,3653,110,190,22.5
426,Volvo,V40,Wagon,Europe,Front,26135,1.9,4.0,170,22,29,2822,101,180,25.5
427,Volvo,XC70,Wagon,Europe,All,35145,2.5,5.0,208,20,27,3823,109,186,23.5

Miles per gallon (MPG) can be converted to Litre per 100 Kilometers (LPK). The formula is LPK = 235.21 / MPG

Create a new column called LPK from MPG_Avg using the formula above and round the result to 2 decimals.

In [137]:
cars["LPK"] = round(235.21 / cars.MPG_Avg, 2)
cars

,Make,Model,Type,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,MPG_Avg,LPK
0,Acura,MDX,SUV,Asia,All,36945,3.5,6.0,265,17,23,4451,106,189,20.0,11.76
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23820,2.0,4.0,200,24,31,2778,101,172,27.5,8.55
2,Acura,TSX 4dr,Sedan,Asia,Front,26990,2.4,4.0,200,22,29,3230,105,183,25.5,9.22
3,Acura,TL 4dr,Sedan,Asia,Front,33195,3.2,6.0,270,20,28,3575,108,186,24.0,9.80
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43755,3.5,6.0,225,18,24,3880,115,197,21.0,11.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40565,2.4,5.0,197,21,28,3450,105,186,24.5,9.60
424,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42565,2.3,5.0,242,20,26,3450,105,186,23.0,10.23
425,Volvo,S80 T6 4dr,Sedan,Europe,Front,45210,2.9,6.0,268,19,26,3653,110,190,22.5,10.45
426,Volvo,V40,Wagon,Europe,Front,26135,1.9,4.0,170,22,29,2822,101,180,25.5,9.22
427,Volvo,XC70,Wagon,Europe,All,35145,2.5,5.0,208,20,27,3823,109,186,23.5,10.01

Merge two columns Make and Model into a new column called Make_Model (e.g. 'Acura MDX').

Remove Make and Model columns.

Set Make_Model as the dataframe index.

In [139]:
cars["Make_Model"] = cars.Make + " " + cars.Model
cars_new = cars.drop(columns=["Make","Model"])
cars_new

,Type,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,MPG_Avg,LPK,Make_Model
0,SUV,Asia,All,36945,3.5,6.0,265,17,23,4451,106,189,20.0,11.76,Acura MDX
1,Sedan,Asia,Front,23820,2.0,4.0,200,24,31,2778,101,172,27.5,8.55,Acura RSX Type S 2dr
2,Sedan,Asia,Front,26990,2.4,4.0,200,22,29,3230,105,183,25.5,9.22,Acura TSX 4dr
3,Sedan,Asia,Front,33195,3.2,6.0,270,20,28,3575,108,186,24.0,9.80,Acura TL 4dr
4,Sedan,Asia,Front,43755,3.5,6.0,225,18,24,3880,115,197,21.0,11.20,Acura 3.5 RL 4dr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423,Sedan,Europe,Front,40565,2.4,5.0,197,21,28,3450,105,186,24.5,9.60,Volvo C70 LPT convertible 2dr
424,Sedan,Europe,Front,42565,2.3,5.0,242,20,26,3450,105,186,23.0,10.23,Volvo C70 HPT convertible 2dr
425,Sedan,Europe,Front,45210,2.9,6.0,268,19,26,3653,110,190,22.5,10.45,Volvo S80 T6 4dr
426,Wagon,Europe,Front,26135,1.9,4.0,170,22,29,2822,101,180,25.5,9.22,Volvo V40
427,Wagon,Europe,All,35145,2.5,5.0,208,20,27,3823,109,186,23.5,10.01,Volvo XC70

In [140]:
cars_new.set_index("Make_Model")

,Type,Origin,DriveTrain,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,MPG_Avg,LPK
Make_Model,,,,,,,,,,,,,,
Acura MDX,SUV,Asia,All,36945,3.5,6.0,265,17,23,4451,106,189,20.0,11.76
Acura RSX Type S 2dr,Sedan,Asia,Front,23820,2.0,4.0,200,24,31,2778,101,172,27.5,8.55
Acura TSX 4dr,Sedan,Asia,Front,26990,2.4,4.0,200,22,29,3230,105,183,25.5,9.22
Acura TL 4dr,Sedan,Asia,Front,33195,3.2,6.0,270,20,28,3575,108,186,24.0,9.80
Acura 3.5 RL 4dr,Sedan,Asia,Front,43755,3.5,6.0,225,18,24,3880,115,197,21.0,11.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volvo C70 LPT convertible 2dr,Sedan,Europe,Front,40565,2.4,5.0,197,21,28,3450,105,186,24.5,9.60
Volvo C70 HPT convertible 2dr,Sedan,Europe,Front,42565,2.3,5.0,242,20,26,3450,105,186,23.0,10.23
Volvo S80 T6 4dr,Sedan,Europe,Front,45210,2.9,6.0,268,19,26,3653,110,190,22.5,10.45
Volvo V40,Wagon,Europe,Front,26135,1.9,4.0,170,22,29,2822,101,180,25.5,9.22
Volvo XC70,Wagon,Europe,All,35145,2.5,5.0,208,20,27,3823,109,186,23.5,10.01

(Optional) Write a function that returns all the column pairs with a correlation higher than 0.7 or lower than -0.7

Example output: 

- Wheelbase and Length: 0.89
- MPG_Highway and Weight: -0.79

In [115]:
corr = cars_new.corr()

corr

,MSRP,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,MPG_Avg,LPK
MSRP,1.000000,0.571753,0.649742,0.826945,-0.475020,-0.439622,0.448426,0.152000,0.172037,-0.463379,0.485182
EngineSize,0.571753,1.000000,0.908002,0.787435,-0.709471,-0.717302,0.807867,0.636517,0.637448,-0.724303,0.804782
Cylinders,0.649742,0.908002,1.000000,0.810341,-0.684402,-0.676100,0.742209,0.546730,0.547783,-0.690298,0.742838
Horsepower,0.826945,0.787435,0.810341,1.000000,-0.676699,-0.647195,0.630796,0.387398,0.381554,-0.671222,0.683246
MPG_City,-0.475020,-0.709471,-0.684402,-0.676699,1.000000,0.941021,-0.737966,-0.507284,-0.501526,0.983742,-0.858068
MPG_Highway,-0.439622,-0.717302,-0.676100,-0.647195,0.941021,1.000000,-0.790989,-0.524661,-0.466092,0.986485,-0.938645
Weight,0.448426,0.807867,0.742209,0.630796,-0.737966,-0.790989,1.000000,0.760703,0.690021,-0.777214,0.876946
Wheelbase,0.152000,0.636517,0.546730,0.387398,-0.507284,-0.524661,0.760703,1.000000,0.889195,-0.524140,0.584886
Length,0.172037,0.637448,0.547783,0.381554,-0.501526,-0.466092,0.690021,0.889195,1.000000,-0.490265,0.505223
MPG_Avg,-0.463379,-0.724303,-0.690298,-0.671222,0.983742,0.986485,-0.777214,-0.524140,-0.490265,1.000000,-0.913747
LPK,0.485182,0.804782,0.742838,0.683246,-0.858068,-0.938645,0.876946,0.584886,0.505223,-0.913747,1.000000

In [1]:
figure = corr()
if figure > 0.7 or figure < -0.7:
    print(figure)

NameError: name 'corr' is not defined