### Exercise 1

### Assignment Submission:

*   Step 1: Don't change the notebook's name. Eg: Exercise-1.ipynb
*   Step 2: Download the notebook. Go to File -> Download .ipynb
*   Step 3: Submit your assignment via the link: https://www.dropbox.com/request/ZvBWoQUCy8pwRVxQxwJx
*   Further notes: If you want to submit your assignment late, email trainer.python@theshortcut.org
to ask for extension.

## Part 1: Getting Started

Statements can be printed in Python using the **print( )** function. Use this function or command to print the following:
    1. "My name is <your name>"
    2. "It is 35 degrees outside"
    3. 85
    4. "85"
    5. 85.0
    6. 3.5

In [7]:
# Write your code below this line
print("My name is Jasmin")
print("It is 35 degrees outside")
print(85)
print('"85"')
print("\"85\"") #backslash to undo the next mark
print(85.0)
print(3.5)

My name is Jasmin el Kordy
It is 35 degrees outside
85
"85"
"85"
85.0
3.5

Data need to be stored before being used for computation. Programming languages provide **variables** to store data. 
    1. Define three variables a, b and c. 
    2. Initialise them with the values of 35, 46.5 and "hello world" respectively.
    3. What is the data type of each variable?
    4. Use the "type" function to find out the data type.
    5. Can you tell the difference between (3) (4) and (5) in the previous task in Part 1?

In [31]:
# Write your code below this line
a = 35
b = 46.5
c = "hello world"
type(a),type(b),type(c)

(int, float, str)

## Part 2: Arithmetic Operators

Without running these commands, state the output of the following statements. 
(Assume that **a = 10**, **b = 5**, **c = 5.5**, **d = 3**)
    1. a + 2 * b
    2. b - 4 / a
    3. a / b
    4. a // b
    5. 1 / 2
    6. 1 // 2
    7. 1 % 2
    8. a ** d
    9. a / b + 5 - 5.5 * c
    10. a**2 + 2 - c // 5 * 2
    11. (a + b) * 3 / d + (4 - d)
    12. 2 * ( a * 2 / a)

Now run the commands and print the output. 
What is the difference between (3) and (4)? What is the **operator precedence** in Python?

In [3]:
# Write your code below this line
a = 10
b = 5
c = 5.5
d = 3
print(a+2*b)
print(b-4/a)
print(a/b)
print(a//b)
print(1/2)
print(1//2)
print(1%2)
print(a**d)
print(a/b+5-5.5*c)
print(a**2+2-c//5*2)
print((a+b)*3/d+(4-d))
print(2*(a*2/a))
print("In 3 the answer is given as type float whereas in 4 the answer is given as type int, rounded downwards")
print("Operator precedence: Parentheses, Exponent, Multiplication, Division, Addition, Subtraction")

20
4.6
2.0
2
0.5
0
1
1000
-23.25
100.0
16.0
4.0
In 3 the answer is given as type float whereas in 4 the answer is given as type int, rounded downwards
Operator precedence: Parentheses, Exponent, Multiplication, Division, Addition, Subtraction

## Part 3: String Operations and Typecasting

1. Define two string variables and initialise them with "abc" and "xyz".
2. Concatenate the two variables and store them in another variable.
3. Determine the length of this variable using **len( )** function.
4. Find the number of occurrence of the letter 'o' in "OOOooofffforossseroO" using **count( )** function.

In [17]:
a = "abc" + "xyz"
print(len(a))
b = "OOOooofffforossseroO"
print(b.count("o")+b.count("O"))

6
10

What is _wrong_ with the following block of code? Run this code to find out the error.

    a = "He got "
    b = 35
    c = "marks in the test"
    d = a + b + c
    print(d)

In [73]:
# Write your code below this line
a = "He got "
b = 35
b = str(b)
c = " marks in the test"
d = a + b + c
print(d)

He got 35 marks in the test

String operators can only work on variables of string type. Therefore all variables need to be converted to string before the operation can be applied to them. Variables can be converted from one type to another using _typecasting_. Anything can be typecasted to string by using the **str( )** operator. 
Now use this operator to fix the error above.

In [93]:
# Write your code below this line
a = "He got "
b = 35
b = str(b)
c = " marks in the test"
d = a + b + c
print(d)

He got 35 marks in the test

## Part 4: Relational and Logical Operators

Without running these commands, state whether these statements would be **True** or **False**. 
    1. 12 > 13
    2. 12 > 12
    3. 12 >= 12
    4. 12 < 12
    5. 12 <= 12
    6. 12 < 13
    7. 12 == 12
    8. 12.0 == 12
    9. 13.5 >= 13
    10. 23.4 > 22.8
Now use the **print( )** function to see the output.

In [19]:
# Write your code below this line
print((12 > 13))
print((12 > 12))
print((12 >= 12))
print((12 < 12))
print((12 <= 12))
print((12 < 13))
print((12 == 12))
print((12.0 == 12))
print((13.5 >= 13))
print(bool(23.4 > 22.8))

False
False
True
False
True
True
True
True
True
True

Again without running these commands state whether the statemnts are **True** or **False** and then run the commands to see the output.
    1. 12 < 13 and 1 > 2
    2. 12 < 13 or 1 > 2
    3. 12 < 13 and 14 > 5 or 16 == 15
    4. 12 < 13 and 14 > 5 and 16 == 15

In [21]:
# Write your code below this line
print(bool(12 < 13 and 1 > 2))
print(bool(12 < 13 or 1 > 2))
print(bool(12 < 13 and 14 > 5 or 16 == 15))
print(bool(12 < 13 and 14 > 5 and 16 == 15))

False
True
True
False

**1** - If a car has been on the driving from **Reading** to **Southampton** for **35 minutes** at an average speed of **48 miles per hour**, how long does it still have to go, considering that it will maintain a constant average speed throughout the trajectory.

First, we must define where is Reading and Southampton and try to figure out the best route available:

According to [Google Maps](https://www.google.com/maps/dir/Reading,+UK/Southampton,+UK/@51.1815507,-1.3244673,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x48742078d93d3db7:0x2ae19f7fcefa7994!2m2!1d-0.9781303!2d51.4542645!1m5!1m1!1s0x48738957be152909:0xa78c5a6a4cda71f0!2m2!1d-1.4043509!2d50.9097004!3e0 "Reading to Southampton routes"), the shortest route takes **50.8 miles**. This is my **first assumption** and I should make sure that others are aware that I have made this assumption.
Considering that we have all the information needed, let's now run a few lines of code.

In [30]:
#Your Solution
driven_min=35
total_time_min = 50.8/48*60
print(total_time_min-driven,'minutes')

28.5 minutes

### Remark:
- You can use formatted string literal method to include a variable's value within a string.
- To do that you can write an __f__ before the string and place the variable name between __{ }__ at your preferred location inside the string.
- You can format the variable by including an optional format specifier. For example __:.2f__ means you want a float output with 2 numbers after the decimal point.

2 - The imperial system can be quite confusing for most of us, so how about converting all variables from the previous exercise to the metric system?

In [42]:
#Your Solution
multiplier = 1.609344
route_in_km = 50.8*multiplier
speed_in_km = 48*multiplier
print('route: {:.2f}'.format(route_in_km),'km')
print('speed: {:.2f}'.format(speed_in_km),'km/h') #converts integer to a string with 2 decimals

route: 81.75 km
speed: 77.25 km/h

3 - You have invited some of your American friends to go to sauna. You check the thermometer and it shows 80C. Convert the temperature into Farenheit. The thermometer from the lake is now showing 15C, could you also convert that?

The formula to convert the temperature from Celsius to Farenheit is $F=(\frac{9}{5} C) + 32$

In [165]:
#Your Solution
sauna_temp_c = 80
sauna_temp_f = (9/5*sauna_temp_c)+32
lake_temp_c = 15
lake_temp_f = (9/5*lake_temp_c)+32
print('Sauna temp. in fahrenheit:',sauna_temp_f)
print('Lake temp. in fahrenheit:',lake_temp_f)

Sauna temp. in fahrenheit: 176.0
Lake temp. in fahrenheit: 59.0

4 - If you invest 100 euros with a 2% monthly interest rate for a year, how much will you have by the end of the period?

The formula to determine the future value of an investment is:
$$FV = PV(1 + r)^k $$
Where:
- $FV$ is the Future Value;
- $PV$ is the Present Value;
- $r$ is the interest rate;
- $k$ is the number of periods.

We are assuming that the payment is in the beginning of the period.

In [8]:
#Your Solution
pv=100
r=0.02
k=12
fv=pv*(1+r)**k
print(fv)

126.82417945625456

There is a different formula for the periods where there are monthly payments and then push that to future value using the formular from the previous exercise. Here is the new formula:
$$RTN = PMT \frac {(1 + r)^k - 1}{r} (1+r)$$
Where:
- $RTN$ is the return by the end of the last period;
- $PMT$ is the monthly payment;
- $r$ is the interest rate;
- $k$ is the number of periods.

Again, we are assuming that the payments are happening in the beginning of the period.

In [23]:
#Your Solution
# PMT = 100 €

pmt = 100
r = 0.02
k = 12
rtn = pmt*((1+r)**k-1)/r*(1+r)
print(rtn)

1368.033152268982